<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drhome.appointment.AppointmentDAO">

	<select id="list" parameterType="Map" resultType="Map">
		SELECT * FROM doctor
	</select>
	
	<select id="detail" parameterType="Map" resultType="Map">
		SELECT m.mname, a.adiagnosis
		FROM member m
		INNER JOIN appointment a ON m.mno = a.mno
	</select>

	<select id="time" parameterType="Map" resultType="Map">
		SELECT * FROM appointmenttime
	</select>

	<select id="doctor" parameterType="Map" resultType="Map">
		SELECT * FROM doctor
	</select>

</mapper>